{
  "defaultConfig":{
    "buildType":"develop",
    "api":"Preloader",
    "libraryDir":""
  },
  "buildDirs":[
    {
      "dir":"Action/",
      "targetSource":"Action.js"
    },
    {
      "dir":"Connectivity/",
      "targetSource":"Connectivity.js"
    },
    {
      "dir":"Drawable/",
      "targetSource":"Drawable.js"
    },
    {
      "dir":"Environment/",
      "targetSource":"Environment.js"
    },
    {
      "dir":"Files/",
      "targetSource":"Files.js"
    },
    {
      "dir":"JsonIo/",
      "targetSource":"JsonIo.js"
    },
    {
      "dir":"ModBrowser.Query/",
      "targetSource":"ModBrowser.Query.js"
    },
    {
      "dir":"Retention/",
      "targetSource":"Retention.js"
    },
    {
      "dir":"Sequence/",
      "targetSource":"Sequence.js"
    },
    {
      "dir":"Stacktrace/",
      "targetSource":"Stacktrace.js"
    }
  ],
  "resources":[],
  "compile":[],
  "javaDirs":[],
  "nativeDirs":[]
}