{
  "defaultConfig":{
    "buildType":"develop",
    "api":"Preloader",
    "libraryDir":""
  },
  "buildDirs":[
    {
      "dir":"Action/",
      "targetSource":"Action.js"
    },
    {
      "dir":"Connectivity/",
      "targetSource":"Connectivity.js"
    },
    {
      "dir":"Environment/",
      "targetSource":"Environment.js"
    },
    {
      "dir":"Files/",
      "targetSource":"Files.js"
    },
    {
      "dir":"Retention/",
      "targetSource":"Retention.js"
    }
  ],
  "resources":[],
  "compile":[],
  "javaDirs":[],
  "nativeDirs":[]
}